<div class="bg-light" style="height: 100vh">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 pt-2">
        <div class="col-sm-12 text-center">
          <h3>Recuperação de Senha</h3>
        </div>
        <div class="card-body card-info">
          <form #ngForm="ngForm">
            <div class="row align-items-start">
              <div class="form-group col col-md-6 offset-md-3">
                <label for="email">E-mail</label>
                <input
                  [ngClass]="((!corretor.email) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  class="shadow-sm rounded border border-secondary" [(ngModel)]="corretor.email" placeholder="Insira seu e-mail"
                  name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" maxlength="100" required>
                <div class="invalid-feedback">Informe um e-mail válido (com &#64;)</div>
              </div>
              <div class="form-group col-md-12 offset-md pt-4">
                <div class="row align-items-center justify-content-center">
                  <div class="col-md-3">
                    <button type="submit" class="form-control btn btn-warning rounded shadow-sm border-dark"
                      (click)="voltar()">
                      Voltar
                    </button>
                  </div>
                  <div class="col-md-3">
                    <button type="submit" class="form-control btn btn-primary rounded shadow-sm border-dark"
                      (click)="enviarEmail(ngForm)">
                      Enviar email
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6 offset-md-3 pt-2 text-center">
                <div class="invalid-feedback">Informe um email válido</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
