<div class="container d-flex justify-content-center">
    <div class="col-4">
        <div class="card shadow round mt-5">
            <div class="card-header">
                <h3 class="text-center">Cadastro</h3>
            </div>
            <div class="card-body">
                <form #ngForm="ngForm">
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input
                            [ngClass]="((!dto.nome || (dto.nome && dto.nome.length < 3)) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                            [(ngModel)]="dto.nome" type="text" class="form-control" name="nome" />
                        <div class="invalid-feedback"> O nome deve conter pelo menos 3 caracteres.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">E-mail</label>
                        <input
                            [ngClass]="((!dto.email || (dto.email && !dto.email.includes('@'))) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                            [(ngModel)]="dto.email" type="email" class="form-control" name="email" />
                        <div class="invalid-feedback"> O e-mail deve ser válido.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Senha</label>
                        <input
                            [ngClass]="((!dto.senha || (dto.senha && dto.senha.length < 6)) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                            [(ngModel)]="dto.senha" type="password" class="form-control" name="senha">
                        <div class="invalid-feedback"> A senha deve conter pelo menos 6 caracteres.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirme a senha</label>
                        <input
                            [ngClass]="((!confirmarSenha || (confirmarSenha && confirmarSenha !== dto.senha)) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                            [(ngModel)]="confirmarSenha" type="password" class="form-control" name="confirmarSenha">
                        <div class="invalid-feedback"> As senhas não coincidem.</div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" (click)="cadastrar()" [disabled]="!ngForm.valid">
                            Cadastrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>