<div class="bg-light" style="height: 100vh">
    <div class="row p-2 m-2">
        <div class="col-sm-5">
            <div class="card border-dark">
                <h5 class="card-header">Seguro</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">Código da
                            Apólice: {{seguro.numApolice}} | Código da Proposta: {{seguro.numeroProposta}}</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">Data Inicio da
                            Vigência: {{seguro.dtInicioVigencia}} | Data Fim da Vigência: {{seguro.dtFimVigencia}}</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">Franquia:
                            {{seguro.franquia | currency: 'BRL'}}</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">RCD Danos
                            Materiais: {{seguro.rcfDanosMateriais | currency: 'BRL'}} | ROF Danos Físicos:
                            {{seguro.rofDanosFisicos | currency: 'BRL'}}</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">Carro Reserva:
                            {{(seguro.carroReserva) ? 'Sim' : 'Não'}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-group col-md-7" style="height: auto;">
            <div class="card border-dark">
                <h5 class="card-header">Cliente</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">Nome:
                            {{seguro.cliente.nome}} | E-mail:
                            {{seguro.cliente.email}}</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">CPF:
                            {{seguro.cliente.cpf | numberMask: 'cpf'}}</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">Gênero:
                            {{seguro.cliente.genero}} | Estado Civil: {{seguro.cliente.estadoCivil}}</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">Data de
                            Nascimento: {{seguro.cliente.dtNascimento}}</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">Telefone:
                            {{seguro.cliente.telefone | numberMask: 'phone'}}</li>
                    </ul>
                </div>
            </div>
            <div class="card border-dark">
                <h5 class="card-header">Endereço do Cliente</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">CEP:
                            {{seguro.cliente.cep | numberMask: 'cep'}} | Logradouro: {{seguro.cliente.rua}}</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">Complemento:
                            {{seguro.cliente.complemento}}</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">Bairro:
                            {{seguro.cliente.bairro}}</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">Cidade:
                            {{seguro.cliente.cidade}}</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">UF:
                            {{seguro.cliente.uf}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-group">
                <div class="card border-dark mt-3">
                    <h5 class="card-header">Veículo</h5>
                    <div class="card-body">
                        <ul class="list-group list-group-flush align-items-center">
                            <div class="text-secondary">
                                <span>Em desenvolvimento</span>
                            </div>
                            <!-- <li class="list-group-item d-flex justify-content-between align-items-center p-3">Nome: {{seguro.cliente.nome}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">E-mail: {{seguro.cliente.email}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">CPF: {{seguro.cliente.cpf | numberMask: 'cpf'}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">Gênero: {{seguro.cliente.genero}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">Estado Civil: {{seguro.cliente.estadoCivil}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">Data de Nascimento: {{seguro.cliente.dtNascimento}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">Telefone: {{seguro.cliente.telefone | numberMask: 'phone'}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3"></li> -->
                        </ul>
                    </div>
                </div>
                <div class="card border-dark mt-3">
                    <h5 class="card-header">Endereço do Veículo</h5>
                    <div class="card-body">
                        <ul class="list-group list-group-flush align-items-center">
                            <div class="text-secondary">
                                <span>Em desenvolvimento</span>
                            </div>
                            <!-- <li class="list-group-item d-flex justify-content-between align-items-center p-3">Nome: {{seguro.cliente.nome}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">E-mail: {{seguro.cliente.email}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">CPF: {{seguro.cliente.cpf | numberMask: 'cpf'}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">Gênero: {{seguro.cliente.genero}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">Estado Civil: {{seguro.cliente.estadoCivil}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">Data de Nascimento: {{seguro.cliente.dtNascimento}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">Telefone: {{seguro.cliente.telefone | numberMask: 'phone'}}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3"></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-3">
            <div class="card border-dark">
                <h5 class="card-header">Seguradora</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush align-items-center">
                        <div class="text-secondary">
                            <span>Em desenvolvimento</span>
                        </div>
                        <!-- <li class="list-group-item d-flex justify-content-between align-items-center p-3">Nome: {{seguro.cliente.nome}}</li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">E-mail: {{seguro.cliente.email}}</li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">CPF: {{seguro.cliente.cpf | numberMask: 'cpf'}}</li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">Gênero: {{seguro.cliente.genero}}</li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">Estado Civil: {{seguro.cliente.estadoCivil}}</li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">Data de Nascimento: {{seguro.cliente.dtNascimento}}</li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">Telefone: {{seguro.cliente.telefone | numberMask: 'phone'}}</li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3"></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>