<app-nav-bar></app-nav-bar>
<!-- <pre>{{ cliente | json }}</pre> -->
<div class="bg-light pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 pt-2">
        <div class="col-sm-12 text-center">
          <h3>Cadastro de Clientes</h3>
        </div>
        <div class="card-body card-info">
          <form #ngForm="ngForm">
            <div class="row align-items-start">
              <div class="form-group col col-md-3">
                <label for="nome">Nome</label>
                <input
                  [ngClass]="((!cliente.nome || (cliente.nome && cliente.nome.length < 3)) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="cliente.nome" class="shadow-sm rounded border border-secondary" minlength="3"
                  placeholder="Nome" name="nome" required>
                <div class="invalid-feedback">Informe um nome com no mínimo 3 caracteres.</div>
              </div>
              <div class="form-group col col-md-3">
                <label for="cpf">CPF</label>
                <input [ngClass]="((!cliente.cpf || (cliente.cpf && cliente.cpf.length != 14)) && ngForm.submitted)
                  ? 'form-control is-invalid' : 'form-control'" class="shadow-sm rounded border border-secondary"
                  [ngModel]="cliente.cpf | numberMask: 'cpf'" (ngModelChange)="cliente.cpf=$event"
                  placeholder="xxx.xxx.xxx-xx" maxlength="14" name="cpf" required appOnlyNumbers>
                <div class="invalid-feedback">Informe um CPF válido</div>
              </div>
              <div class="form-group col col-md-3">
                <label for="cnh">CNH</label>
                <input
                  [ngClass]="((!cliente.cnh || (cliente.cnh.length != 9)) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  class="shadow-sm rounded border border-secondary" [ngModel]="cliente.cnh"
                  (ngModelChange)="cliente.cnh=$event" placeholder="xxxxxxxxx" maxlength="9" name="cnh" required
                  appOnlyNumbers>
                <div class="invalid-feedback">Informe um CNH válido</div>
              </div>
              <div class="form-group col col-md-3">
                <label for="email">E-mail</label>
                <input
                  [ngClass]="((!cliente.email || (cliente.email.length <= 9)) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  class="shadow-sm rounded border border-secondary" [ngModel]="cliente.email"
                  (ngModelChange)="cliente.email=$event" placeholder="Insira seu e-mail" name="email" type="email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <div class="invalid-feedback">Informe um e-mail válido</div>
              </div>
                <div class="form-group col col-md-3">
                <label for="genero">Gênero</label>
                <select
                  [ngClass]="(!cliente.genero && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  class="shadow-sm rounded border border-secondary form-select" aria-label="Default select example"
                  [ngModel]="cliente.genero" (ngModelChange)="cliente.genero=$event" name="genero" required>
                  <option selected disabled>Selecione um gênero</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
                  <option value="Outro">Outro</option>
                </select>
                <div class="invalid-feedback">Informe um gênero válido</div>
                </div>
              <div class="form-group col col-md-3">
                <label for="estadoCivil">Estado Civil</label>
                <select
                  [ngClass]="(!cliente.estadoCivil && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  class="shadow-sm rounded border border-secondary form-select" aria-label="Default select example"
                  [ngModel]="cliente.estadoCivil" (ngModelChange)="cliente.estadoCivil=$event"
                  placeholder="Estado Civil" name="estadoCivil" required>
                  <option selected disabled>Selecione um estado civil</option>
                  <option value="Solteiro">Solteiro</option>
                  <option value="Casado">Casado</option>
                  <option value="Separado">Separado</option>
                  <option value="Divorciado">Divorciado</option>
                  <option value="Viúvo">Viúvo</option>
                </select>
                <div class="invalid-feedback">Informe um estado civil válido</div>
              </div>
              <div class="form-group col col-md-3">
                <label for="telefone">Telefone (com DDD)</label>
                <input [ngClass]="((!cliente.telefone || (cliente.telefone && cliente.telefone.length != 15) || (cliente.telefone && cliente.telefone.length != 14)) && ngForm.submitted)
                  ? 'form-control is-invalid' : 'form-control'" [ngModel]="cliente.telefone | phone"
                  (ngModelChange)="cliente.telefone=$event" placeholder="(xx) #xxxx-xxxx"
                  class="shadow-sm rounded border border-secondary" maxlength="19" name="telefone" required
                  appOnlyNumbers>
                <div class="invalid-feedback">Insira um telefone válido</div>
              </div>
              <div class="form-group col col-md-3">
                <label for="dataNascimento">Data de Nascimento</label>
                <input [ngClass]="(!cliente.dtNascimento && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="cliente.dtNascimento" class="shadow-sm rounded border border-secondary" type="date"
                  name="dataNascimento" required>
                <div class="invalid-feedback">Insira uma data de nascimento válida.</div>
              </div>
              <div class="col col-md-12"></div>
              <div class="form-group col col-md-2">
                <label for="cep">CEP</label>
                <input [ngClass]="(!cliente.cep && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="cliente.cep" class="shadow-sm rounded border border-secondary" name="cep" maxlength="8"
                  (blur)="viaCep(cliente.cep)" required appOnlyNumbers>
                <div class="invalid-feedback">Insira um cep válido</div>
              </div>
              <div class="form-group col col-md-1">
                <label for="numeroCasa">Número</label>
                <input [ngClass]="(!cliente.numero && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="cliente.numero" class="shadow-sm rounded border border-secondary" name="numeroCasa"
                  required appOnlyNumbers>
                <div class="invalid-feedback">Insira um número de casa válido</div>
              </div>
              <div class="form-group col col-md-1">
                <label for="estado">Estado</label>
                <select 
                  [ngClass]="(!cliente.uf && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="cliente.uf" 
                  class="shadow-sm rounded border border-secondary form-select" aria-label="Default select example"
                  name="estado" required>
                  <option selected disabled>Selecione um estado</option>
                  <option *ngFor="let estado of listaEstados" [value]="estado">{{ estado }}</option>
                </select>
                <div class="invalid-feedback">Insira um estado válido</div>
              </div>
              <div class="form-group col col-md-2">
                <label for="logradouro">Logradouro</label>
                <input [ngClass]="(!cliente.rua && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="cliente.rua" class="shadow-sm rounded border border-secondary" name="logradouro"
                  required>
                <div class="invalid-feedback">Insira uma rua válida</div>
              </div>
              <div class="form-group col col-md-2">
                <label for="complemento">Complemento</label>
                <input
                  [ngClass]="(!cliente.complemento && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="cliente.complemento" class="shadow-sm rounded border border-secondary" name="complemento"
                  required>
                <div class="invalid-feedback">Insira um complemento válido</div>
              </div>
              <div class="form-group col col-md-2">
                <label for="bairro">Bairro</label>
                <input [ngClass]="(!cliente.bairro && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="cliente.bairro" class="shadow-sm rounded  border border-secondary" name="bairro"
                  required>
                <div class="invalid-feedback">Insira um Bairro válido</div>
              </div>
              <div class="form-group col col-md-2">
                <label for="cidade">Cidade</label>
                <input [ngClass]="(!cliente.cidade && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="cliente.cidade" class="shadow-sm rounded  border border-secondary" name="cidade"
                  required>
                <div class="invalid-feedback">Insira uma cidade válida</div>
              </div>
              <div></div>
              <div class="form-group col-md-6 pt-4">
                <button type="submit" class="form-control btn btn-warning rounded shadow-sm border-dark"
                  (click)="voltar()">Voltar</button>
              </div>
              <div class="form-group col-md-6 pt-4">
                <button type="submit" class="form-control btn btn-primary rounded shadow-sm border-dark"
                  (click)="salvar(ngForm)">
                  {{ idCliente ? 'Atualizar' : 'Cadastrar' }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>