<app-nav-bar></app-nav-bar>
<div class="bg-light" style="height: 100vh">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 pt-2">
        <div class="col-sm-12 text-center">
          <h3>Cadastro de Sinistro</h3>
        </div>

        <div class="card-body card-info">
          <form #ngForm="ngForm">
            <div class="row align-items-start">
              <div class="form-group col col-md-3">
                <label for="seguro">Seguro</label>
                  <select name="seguro" class="shadow-sm rounded border-dark" required>
                  <option value="" disabled selected>Selecione um seguro</option>
                  <option *ngFor="let seguro of listaSeguros" ></option>
                  </select>
              </div>
              <div></div>

              <div class="form-group col col-md-3">
                <label for="tipo">Tipo de Sinistro</label>
                <select
                  [ngClass]="((!sinistro.tipo || (sinistro.tipo.length != 18)) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  class="shadow-sm rounded border border-secondary form-select" aria-label="Default select example"
                  [ngModel]="sinistro.tipo" (ngModelChange)="sinistro.tipo=$event" placeholder="Tipo" name="tipo"
                  required>
                  <option selected disabled>Selecione um tipo de Sinistro</option>
                  <option value="Colisão">Colisão</option>
                  <option value="Roubo ou Furto">Roubo ou Furto</option>
                  <option value="Causas naturais">Causas naturais</option>
                  <option value="Danos a terceiros">Danos a terceiros</option>
                  <option value="Problemas mecânicos">Problemas mecânicos</option>

                </select>
                <div class="invalid-feedback">Informe um tipo de Sinistro válido</div>
              </div>
              <div class="form-group col col-md-3">
                <label for="dataHora">Data e Hora</label>
                <input [ngClass]="(!sinistro.dataHora) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="sinistro.dataHora" class="shadow-sm rounded border border-secondary"
                  placeholder="Data e Hora do Sinistro" type="datetime-local" name="dataHora" required appOnlyNumbers>
                <div class="invalid-feedback">Informe a data e hora do Sinistro.</div>
              </div>

              <div class="form-group col col-md-6">
                <label for="descricao">Descrição</label>
                <input
                  [ngClass]="((!sinistro.descricao || (sinistro.descricao.length <= 9)) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  class="shadow-sm rounded border border-secondary" [ngModel]="sinistro.descricao"
                  (ngModelChange)="sinistro.descricao=$event" placeholder="Insira a descrição" name="descricao"
                  type="descricao">
                <div class="invalid-feedback">Informe uma descrição de Sinistro válida</div>
              </div>
              <div> </div>
              <div class="form-group col-md-6 pt-4">
                <button type="submit" class="form-control btn btn-warning rounded shadow-sm border-dark"
                  (click)="voltar()">Voltar</button>
              </div>
              <div class="form-group col-md-6 pt-4">
                <button type="submit" class="form-control btn btn-primary rounded shadow-sm border-dark"
                  (click)="salvar(ngForm)">
                  {{ idSinistro ? 'Atualizar' : 'Cadastrar' }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>