<app-nav-bar></app-nav-bar>
<div class="bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 pt-2 align-items-center">
        <div class="col-sm-12 text-center">
          <h3>Cadastro de Seguros</h3>
        </div>
        <div class="card-body card-info">
          <form #ngForm="ngForm">
            <div class="row align-items-start">
              <div class="form-group col-md-4">
                <label for="cliente">Cliente</label>
                <input [ngClass]="(!seguro.cliente && ngForm.submitted) ? 'form-select is-invalid' : 'form-select'"
                  [ngModelOptions]="{standalone: true}" (input)="onInputChange($event)" (blur)="carregarListaVeiculos()"
                  [(ngModel)]="displayCliente" class="shadow-sm rounded border-dark form-control" name="cliente"
                  list="dataListOptions" required>
                <datalist id="dataListOptions">
                  <option *ngFor="let cliente of listaClientes" [ngValue]="cliente">{{ cliente.nome }}</option>
                </datalist>
                <div class="invalid-feedback">Informe o cliente</div>
              </div>
              <div class="form-group col-md-4">
                <label for="veiculo">Veículo</label>
                <select name="veiculo" class="shadow-sm rounded border-dark"
                  [ngClass]="(!seguro.veiculo && ngForm.submitted) ? 'form-select is-invalid' : 'form-select'"
                  [ngModelOptions]="{standalone: true}" [compareWith]="compareById" [(ngModel)]="seguro.veiculo"
                  required>
                  <option value="" disabled selected>Selecione um veículo</option>
                  <option *ngFor="let veiculo of listaVeiculos" [ngValue]="veiculo">{{veiculo.modelo}} -
                    {{veiculo.marca}}</option>
                </select>
                <div class="invalid-feedback">Informe o veículo</div>
              </div>
              <div class="form-group col-md-4">
                <label for="seguradora">Seguradora</label>
                <select name="seguradora" class="shadow-sm rounded border-dark"
                  [ngClass]="(!seguro.seguradora && ngForm.submitted) ? 'form-select is-invalid' : 'form-select'"
                  [ngModelOptions]="{standalone: true}" [compareWith]="compareById" [(ngModel)]="seguro.seguradora"
                  required>
                  <option value="" disabled selected>Selecione uma seguradora</option>
                  <option *ngFor="let seguradora of listaSeguradoras" [ngValue]="seguradora">{{seguradora.nome}}</option>
                </select>
                <div class="invalid-feedback">Informe o veículo</div>
              </div>
              <div class="form-group col-md-3">
                <label for="nome">Número da proposta</label>
                <input class="shadow-sm rounded border-dark"
                  [ngClass]="(!seguro.numeroProposta && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="seguro.numeroProposta" minlength="3" name="numeroProposta" required>
                <div class="invalid-feedback">Informe o número da proposta</div>
              </div>
              <div class="form-group col-md-3">
                <label for="nome">Número da apólice</label>
                <input class="shadow-sm rounded border-dark"
                  [ngClass]="(!seguro.numApolice && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="seguro.numApolice" minlength="3" name="numApolice" required>
                <div class="invalid-feedback">Informe o número da apólice</div>
              </div>
              <div class="form-group col-md-3">
                <label for="nome">Data de início de vigência</label>
                <input class="shadow-sm rounded border-dark" type="date" name="dtInicioVigencia"
                  [ngClass]="(!seguro.dtInicioVigencia && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="seguro.dtInicioVigencia" required>
                <div class="invalid-feedback">Informe a data de inicio de vigência</div>
              </div>
              <div class="form-group col-md-3">
                <label for="nome">Data de fim de vigência</label>
                <input class="shadow-sm rounded border-dark" type="date" name="dtFimVigencia"
                  [ngClass]="(!seguro.dtFimVigencia && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="seguro.dtFimVigencia" required>
                <div class="invalid-feedback">Informe a data de fim de vigência</div>
              </div>
              <div class="form-group col-md-3">
                <label for="nome">Franquia</label>
                <div class="input-group">
                  <span class="input-group-text border-light rounded-0">R$</span>
                  <input class="shadow-sm rounded border-dark" type="number" placeholder="0.00" value="0" step=".05"
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" minlength="3" name="franquia"
                    [ngClass]="(!seguro.franquia && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                    [(ngModel)]="seguro.franquia" required>
                  <div class="invalid-feedback">Informe a franquia</div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="nome">RCF Danos Materiais</label>
                <div class="input-group">
                  <span class="input-group-text border-light rounded-0">R$</span>
                  <input class="shadow-sm rounded border-dark" minlength="3" type="number" placeholder="0.00" value="0"
                    step=".05" name="rcfDanosMateriais"
                    [ngClass]="(!seguro.rcfDanosMateriais && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                    [(ngModel)]="seguro.rcfDanosMateriais" required>
                  <div class="invalid-feedback">Informe RCF de danos materiais</div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="nome">ROF Danos Físicos</label>
                <div class="input-group">
                  <span class="input-group-text border-light rounded-0">R$</span>
                  <input class="shadow-sm rounded border-dark" minlength="3" type="number" placeholder="0.00" value="0"
                    step=".05" name="rcfDanosCorporais"
                    [ngClass]="(!seguro.rofDanosFisicos && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                    [(ngModel)]="seguro.rofDanosFisicos" required>
                  <div class="invalid-feedback">Informe ROF de danos físicos</div>
                </div>
              </div>
              <div class="form-group col-md-3 pt-4">
                <div class="form-check form-switch form-switch-md">
                  <input class="shadow-sm rounded border-dark form-check-input" type="checkbox" role="switch"
                    name="carroReserva" [(ngModel)]="seguro.carroReserva">
                  <label for="nome" class="p-1">Carro reserva</label>
                </div>
                <div class="invalid-feedback">Carro reserva</div>
              </div>
              <div class="form-group col-md-6 pt-4">
                <button type="submit" class="form-control btn btn-warning rounded border-dark shadow-sm"
                  (click)="voltar()">Voltar</button>
              </div>
              <div class="form-group col-md-6 pt-4">
                <button type="submit" class="form-control btn btn-primary rounded border-dark shadow-sm"
                  (click)="salvar(ngForm)">
                  {{ idSeguro ? 'Atualizar' : 'Cadastrar' }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>