<app-nav-bar></app-nav-bar>
<div class="bg-light" style="height: 100vh;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 pt-2">
        <div class="col-sm-12 text-center">
          <h3>Listagem de Seguros</h3>
        </div>
        <div class="accordion">
          <div class="accordion-item border-dark">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <strong>Filtros</strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body p-1">
                <form class="row align-items-center justify-content-end form-floating ">
                  <div class="form-group col col-md-6">
                    <label for="nomeCliente">Nome Cliente</label>
                    <input class="form-control shadow-sm rounded border-dark" id="nomeCliente" name="nomeCliente"
                      [(ngModel)]="seletor.nomeCliente">
                  </div>
                  <div class="form-group col col-md-6">
                    <label for="nomeCorretor">Nome Seguradora</label>
                    <input class="form-control shadow-sm rounded border-dark" id="nomeCorretor" name="nomeCorretor"
                      [(ngModel)]="seletor.nomeSeguradora">
                  </div>
                  <div class="form-group col col-md-6">
                    <label for="dtInicioComecoVigencia">Data Inicial de Inicio de Vigência</label>
                    <input class="form-control shadow-sm rounded border-dark" type="date" id="dtInicioComecoVigencia"
                      name="dtInicioComecoVigencia" [(ngModel)]="seletor.dtInicioComecoVigencia">
                  </div>
                  <div class="form-group col col-md-6">
                    <label for="dtFimComecoVigencia">Data Final de Inicio de Vigência</label>
                    <input class="form-control shadow-sm rounded border-dark" type="date" id="dtFimComecoVigencia"
                      name="dtFimComecoVigencia" [(ngModel)]="seletor.dtFimComecoVigencia">
                  </div>
                  <div class="form-group col col-md-6">
                    <label for="dtInicioFimVigencia">Data Inicial de Fim de Vigência</label>
                    <input class="form-control shadow-sm rounded border-dark" type="date" id="dtInicioFimVigencia"
                      name="dtInicioFimVigencia" [(ngModel)]="seletor.dtInicioFimVigencia">
                  </div>
                  <div class="form-group col col-md-6">
                    <label for="dtFimFimVigencia">Data Final de Fim de Vigência</label>
                    <input class="form-control shadow-sm rounded border-dark" type="date" id="dtFimFimVigencia"
                      name="dtFimFimVigencia" [(ngModel)]="seletor.dtFimFimVigencia">
                  </div>
                  <div class="form-group col pt-3 col-md-2">
                    <button type="sumbit" name="btnrelatorio"
                      class="form-control btn btn-success mb-3 rounded shadow-md border-dark"
                      (click)="exportar()">Relatório</button>
                    <!-- Implementar: (click)="exportExcel()" -->
                  </div>
                  <div class="form-group col pt-3 col-md-5">
                    <button type="sumbit" name="btnsubmit"
                      class="form-control btn btn-warning mb-3 rounded shadow-md border-dark"
                      (click)="limpar()">Limpar</button>
                  </div>
                  <div class="form-group col pt-3 col-md-5">
                    <button type="sumbit" class="form-control btn btn-primary mb-3 rounded shadow-md border-dark"
                      (click)="pesquisar()">Pesquisar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md pt-2">
        <div class="table-responsive rounded-0 border">
          <table id="tabelaSeguros"
            class="table table-responsive table-hover table-sm table-bordered border-secondary">
            <thead>
              <tr>
                <th scope="col" class="text-center">Número Apólice</th>
                <th scope="col" class="text-center">Nome Cliente</th>
                <th scope="col" class="text-center">Nome Seguradora</th>
                <th scope="col" class="text-center">Data Início - Fim de Vigência</th>
                <th scope="col" class="text-center">RCF Danos Materiais</th>
                <th scope="col" class="text-center">ROF Danos Físicos</th>
                <th scope="col" class="text-center">Franquia</th>
                <th scope="col" class="text-center">Carro Reserva</th>
                <th scope="col" class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of seguros"
                [ngClass]="{'fw-bold table-danger border-danger border-2': isNearExpiry(s.dtFimVigencia)}">
                <td class="text-center align-middle">{{s.numApolice}}</td>
                <td class="text-center align-middle">{{s.cliente.nome}}</td>
                <td class="text-center align-middle">{{s.seguradora.nome}}</td>
                <td class="text-center align-middle">{{s.dtInicioVigencia | date: 'dd/MM/yyyy'}} - {{s.dtFimVigencia |
                  date: 'dd/MM/yyyy'}}</td>
                <td class="text-center align-middle">{{s.rcfDanosMateriais | currency: 'BRL'}}</td>
                <td class="text-center align-middle">{{s.rofDanosFisicos | currency: 'BRL'}}</td>
                <td class="text-center align-middle">{{s.franquia | currency: 'BRL'}}</td>
                <td class="text-center align-middle">{{((s.carroReserva) ? 'Sim' : 'Não')}}</td>
                <td class="text-center align-middle">
                  <button name="inspecionar" class="btn btn-sm btn-primary shadow-sm" data-toggle="tooltip"
                    data-placement="top" title="Inspecionar" (click)="inspecionar(s.id)">
                    <img src="https://imgur.com/FSJgeji.png" width="15" class="pb-1 align-items-center" />
                  </button>
                  <button name="editar" class="btn btn-sm btn-warning m-1 shadow-sm" data-toggle="tooltip"
                    data-placement="top" title="Editar" (click)="editar(s.id)">
                    <img src="https://i.imgur.com/9H2mwRv.png" width="15" class="pb-1 align-items-center" />
                  </button>
                  <button name="deletar" class="btn btn-sm btn-danger shadow-sm" data-toggle="tooltip"
                    data-placement="top" title="Excluir" (click)="excluir(s.id)">
                    <img src="https://i.imgur.com/JnmcPWf.png" width="15" class="pb-1 align-items-center">
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>