<div class="container-fluid g-5">
  <div class="row text-center p-2 align-items-center justify-content-center">
    <div class="col col-md-4 pt-5">
      <div class="card border-dark shadow round">
        <div class="card-header bg-primary">
          <h3 class="text-center text-white pt-2">Login</h3>
        </div>
        <div class="card-body">
          <form #ngForm="ngForm">
            <div class="mb-1">
              <label class="form-label">E-mail</label>
              <input
                [ngClass]="((!dto.login || (dto.login && dto.login.length < 6)) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                [(ngModel)]="dto.login" type="text" class="form-control border-dark" name="username" required/>
              <div class="invalid-feedback"> O username deve conter pelo menos 6 caracteres.</div>
            </div>
            <div class="mb-3">
              <label class="form-label">Senha</label>
              <input
                [ngClass]="((dto.password && (dto.password && dto.password.length < 6)) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                [(ngModel)]="dto.password" type="password" class="form-control border-dark" name="password" required>
              <div class="invalid-feedback"> A senha deve conter pelo menos 6 caracteres.</div>
            </div>
            <div class="mb-3 text-center" (click)="recuperarSenha()">
              <a href="#" class="text-primary">Esqueci minha senha</a>
            </div>
            <div class="text-center">
              <button type="submit" class="form-control btn btn-primary rounded shadow-sm border-dark" (click)="loginWithTimeout()" [disabled]="!ngForm.valid">
                Entrar
              </button>
              <div class="pt-3">
                <span class="align-items-start">
                  <p class="text-primary">OU</p>
                </span>
              </div>
              <div>
                <span class="align-items-start">
                  <button type="button" class="form-control btn btn-warning rounded shadow-sm border-dark" (click)="cadastro()">
                    Cadastre-se
                  </button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col col-md-7">
      <h1>Boas vindas a Floripa SAFE.</h1>
      <p class="text-center">Segurança em cada quilômetro</p>
    </div>
  </div>
</div>
