<h2 class="mb-5">Lista de Clientes</h2>

<div class="text-right">
  <button class="btn-btn-primary router" routerLink="new">
    Novo Cliente
  </button>
</div>

<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>Cpf</th>
    <th>dtNascimento</th>
    <th>Email</th>
    <th>Cnh</th>
    <th>DDD</th>
    <th>Telefone</th>
    <th>Estado_Civil</th>
    <th>Genero</th>
    <th>Rua</th>
    <th>Bairro</th>
  </tr>
  <tbody>
    <tr *ngFor="let cliente of clientes; trackBy: trackById">
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.dtNascimento }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.cnh }}</td>
      <td>{{ cliente.ddd }}</td>
      <td>{{ cliente.telefone }}</td>
      <td>{{ cliente.estado_civil }}</td>
      <td>{{ cliente.genero }}</td>
      <td>{{ cliente.rua }}</td>
      <td>{{ cliente.bairro }}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-primary" [routerLink]=[cliente.id.edit]>
            Editar
          </button>
          <button class="btn btn-danger" (click)="deleteCliente(cliente)">
            Excluir
          </button>
        </div>
      </td>
    </tr>
</table>
