<div class="bg-light" style="height: 100vh">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 pt-2">
        <div class="col-sm-12 text-center">
          <h3>Cadastro de Seguradoras</h3>
        </div>
        <div class="card-body card-info">
          <form #ngForm="ngForm">
            <div class="row align-items-start">
              <div class="form-group col col-md-6">
                <label for="nome">Nome</label>
                <input
                  [ngClass]="((!seguradora.nome || (seguradora.nome && seguradora.nome.length < 3)) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="seguradora.nome" class="shadow-sm rounded border border-secondary" minlength="3" placeholder="Nome" name="nome" required>
                <div class="invalid-feedback">Informe um nome com no mínimo 3 caracteres.</div>
              </div>
              <div class="form-group col col-md-3">
                <label for="cnpj">CNPJ</label>
                <input [ngClass]="((!seguradora.cnpj || (seguradora.cnpj && seguradora.cnpj.length != 14)) && ngForm.submitted)
                  ? 'form-control is-invalid' : 'form-control'" class="shadow-sm rounded border border-secondary">
                <div class="invalid-feedback">Informe um cnpj válido</div>
              </div>
              <div class="form-group col col-md-6">
                <label for="email">E-mail</label>
                <input
                  [ngClass]="((!seguradora.email || (seguradora.email.length <= 9)) && ngForm.submitted) ? 'form-control is-invalid' : 'form-control'"
                  class="shadow-sm rounded border border-secondary" [ngModel]="seguradora.email" (ngModelChange)="seguradora.email=$event"
                  placeholder="Insira seu e-mail" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <div class="invalid-feedback">Informe um e-mail válido</div>
              </div>
              <div class="form-group col col-md-3">
                <label for="telefone">Telefone (com DDD)</label>
                <input [ngClass]="((!seguradora.telefone || (seguradora.telefone && seguradora.telefone.length != 15) || (seguradora.telefone && seguradora.telefone.length != 14)) && ngForm.submitted)
                  ? 'form-control is-invalid' : 'form-control'" [ngModel]="seguradora.telefone"
                  (ngModelChange)="seguradora.telefone=$event" placeholder="(xx) #xxxx-xxxx" class="shadow-sm rounded border border-secondary"
                  maxlength="19" name="telefone" required appOnlyNumbers>
                <div class="invalid-feedback">Insira um telefone válido</div>
              </div>
              <div class="form-group col-md-6 pt-4">
                <button type="submit" class="form-control btn btn-warning rounded shadow-sm border-dark"
                  (click)="voltar()">Voltar</button>
              </div>
              <div class="form-group col-md-6 pt-4">
                <button type="submit" class="form-control btn btn-primary rounded shadow-sm border-dark"
                  (click)="salvar(ngForm)">Cadastrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
