<div
  style="background-color: yellow; padding: 20px; text-align: center; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">

  <div
    style="background-color: #333; color: white; font-family: Arial; font-size: 24px; border-radius: 10px; padding: 10px 20px; margin-bottom: 20px;">
    @if(cliente) {
    Editar
    }
    @else {
    Novo
    } cliente
  </div>

  <div class="row" style="width: 100%; padding: 20px;">

    <!-- Primeira Coluna -->
    <div class="col-md-6">
      @if(form) {
      <form [formGroup]="form" (ngSubmit)="save()" style="text-align: left; width: 100%;">

        <!-- Campos do formulário -->

        <div class="mb-3">
          <label for="name">Nome</label>
          <input id="name" type="text" placeholder="Nome" class="form-control" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="cpf">Cpf</label>
          <input id="cpf" type="text" placeholder="Numero" class="form-control" formControlName="cpf">
        </div>
        <div class="mb-3">
          <label for="dt_Nascimento">dtNascimento</label>
          <input id="dt_Nascimento" type="date" placeholder="Data" class="form-control" formControlName="dtNascimento">
        </div>
        <div class="mb-3">
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="Email" class="form-control" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="cnh">Cnh</label>
          <input id="cnh" type="number" placeholder="Numero" class="form-control" formControlName="cnh">
        </div>
        <div class="mb-3">
          <label for="ddd">DDD</label>
          <input id="ddd" type="text" placeholder="Numero" class="form-control" formControlName="ddd">
        </div>
        <div class="mb-3">
          <label for="telefone">Telefone</label>
          <input id="telefone" type="text" placeholder="Numero" class="form-control" formControlName="telefone">
        </div>
        <div class="mb-3">
          <label for="estado_civil">Estado_Civil</label>
          <input id="estado_civil" type="text" placeholder="Estado_Civil" class="form-control"
            formControlName="estado_civil">
        </div>
      </form>
      }
      <button type="button"
        style="background-color: red; color: white; border: none; border-radius: 4px; padding: 10px 20px; cursor: pointer; margin-top: 20px"
        routerLink="/">
        Cancelar
      </button>
    </div>

    <!-- Segunda Coluna -->
    <div class="col-md-6" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
      @if(form) {
      <form [formGroup]="form" (ngSubmit)="save()" style="text-align: left; width: 100%;">

        <!-- Campos do formulário -->

        <div class="mb-3">
          <label for="genero">Genero</label>
          <input id="genero" type="text" placeholder="Gênero" class="form-control" formControlName="genero">
        </div>
        <div class="mb-3">
          <label for="rua">Rua</label>
          <input id="rua" type="text" placeholder="Rua" class="form-control" formControlName="rua">
        </div>
        <div class="mb-3">
          <label for="bairro">Bairro</label>
          <input id="bairro" type="text" placeholder="Bairro" class="form-control" formControlName="bairro">
        </div>
        <div class="mb-3">
          <label for="nr">Nr</label>
          <input id="numero" type="number" placeholder="Numero" class="form-control" formControlName="nr">
        </div>
        <div class="mb-3">
          <label for="complemento">Complemento</label>
          <input id="complemento" type="text" placeholder="Complemento" class="form-control"
            formControlName="complemento">
        </div>
        <div class="mb-3">
          <label for="cidade">Cidade</label>
          <input id="cidade" type="text" placeholder="Cidade" class="form-control" formControlName="cidade">
        </div>
        <div class="mb-3">
          <label for="uf">Uf</label>
          <input id="uf" type="text" placeholder="" class="form-control" formControlName="uf">
        </div>
        <div class="mb-3">
          <label for="cep">Cep</label>
          <input id="cep" type="number" placeholder="Numero" class="form-control" formControlName="cep">
        </div>
      </form>
      }
      <!-- Botão Novo Cliente -->
        <button
          style="background-color: blue; color: white; border: none; border-radius: 4px; padding: 10px 20px; cursor: pointer; margin-top: 20px" (click)="addCliente()">
          @if(cliente) {
          Editar
          }
          @else {
          Novo Cliente
          }
        </button>
    </div>
  </div>
</div>
